#components-layout-demo-custom-trigger {
  min-height: 100vh;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
  color: white;
  line-height: 32px;
  text-align: center;
  font-style: italic;
}
#components-layout-demo-custom-trigger .logo span {
  font-size: 16px;
  font-family: Georgia, serif;
  font-weight: 800;
}
.site-layout .site-layout-background {
  background: #fff;
}
